<footer>
    <nav id="bottom-nav">
        <ul>
            <li>
                <a href="/terms-and-conditions">
                    Terms and Conditions
                </a>
            </li>
            <li>
                <a href="/privacy-policy">
                    Privacy Policy
                </a>
            </li>
            <li>
                <a href="/contact">
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</footer>

</html>